{% extends "layout.html" %}
{% block content %}



<div class="ui container ">
  <Divider hidden></Divider>
  <h1 class="ui dividing header">Car value analyzer</h1> 
  
  <h3 class="ui top attached header">Select orgin of data</h3> 
  <div class="ui attached segment">
    <div class="ui pointing three item menu">
      <a class="item" href="otomoto">
        <i class="tasks icon"></i>
          OTOMOTO
      </a>
      <a class="active item " href="autoscout24">
        <i class="tasks icon"></i>
          AUTOSCOUT24
      </a>
      <a class="item" href="compare_both">
        <i class="tasks icon"></i>
          COMPARE BOTH
      </a>
    </div>
  </div>

  <h2 class="ui dividing header">Filters</h2>
  <form method="post" id="myForm">

      <div class="ui input">
          <input name= "brand_model" list="brand_model" type="text", placeholder="Enter brand and model">
          <datalist id="brand_model", name = "brand_model">
        
              {% for brand_model in brand_models %}
                <option name= "brand_model" >{{brand_model}}</option>
              {% endfor %}
        
        
          </datalist>
      </div>

      <div class="ui input">
          <input name="year_min" type="text" placeholder="Min. production year" >
        </div>
        
        <div class="ui input">
          <input name="year_max" type="text" placeholder="Max. production year" >
        </div>
        <div class="ui input">
          
          <input name="mileage_min" type="text" placeholder="Minimum mileage" >
        </div>
        
        <div class="ui input">
          <input name="mileage_max" type="text" placeholder="Maximum mileage" >
        </div>

        <div class="ui input">
          <input name="price_min" type="text" placeholder="Minimum price" >
        </div>
        
        <div class="ui input">
          <input name="price_max" type="text" placeholder="Maximum price" >
        </div>      

        <div class="ui input">
          
          <input name="min_power" type="text" placeholder="Min. power(hp)" >
        </div>
        
        <div class="ui input">
          <input name="max_power" type="text" placeholder="Max. power(hp)" >
        </div>
        

      <input type="button" value="Show table" onclick="submitForm()" class = "ui button primary">
  </form>
</div>

<div id="loadingGif" style="display:none"><img class="ui centered small image" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"></div>
<div id="responseArea" class ="ui vertical segment" ></div>

<script>
  
    function submitForm() {
        document.getElementById('loadingGif').style.display = "block";
        setTimeout(function() {
          document.getElementById('loadingGif').style.display = "none";},2000);
        
        var formElement = document.getElementById('myForm');
        var data = new FormData(formElement);
        fetch('/submit_autoscout24', {
            method: 'POST',
            body: data,
            })
            .then(resp => resp.text())  // or, resp.json(), etc.
            .then(data => {
            document.getElementById("responseArea").innerHTML = data;
            })
            .catch(error => {
            console.error(error);
            });
    }
</script>

{% endblock %}